@import '../../../styles.sass'

#profile-container
    width: 100%
    display: grid
    grid-template-columns: 1fr 3fr

#user-picture
    height: 0
    width: 100%
    padding-bottom: 100%
    background-size: cover
    background-position: 50%
    border-radius: 50%

#inventory-container
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))
    grid-template-rows: repeat(auto-fill, 1fr)

.item-picture

