@import '../../../styles.sass'

$preview-height: 44px

#trade-container
    // style

.preview, .column
    // style

.preview
    // style
    position: fixed
    background-color: $card-background-color
    width: 100%
    border: 1px solid white
    margin-top: -$after-header-margin
    height: $preview-height

.column
    // style
    margin-top: $preview-height * 2
    display: inline-block
    width: 50%
    padding-bottom: $header-footer-height

#preview-me
    // style

#preview-them
    // style
    margin-top: -$after-header-margin + $preview-height

#column-me
    // style

#column-them
    // style

#request
    position: fixed
    bottom: $header-footer-height
    border-top: 1px solid white
    z-index: 1
    width: 100%
    height: 56px
