<div [ngClass]="setClasses()">
  <div>
    <br> item id: {{ item.itemId }}
    <br> user id: {{ item.userId }}
    <br> user picture path: {{ item.userPicturePath }}
    <br> user verified: {{ item.verified }}
    <br> user rating: {{ item.rating }}
    <br> title: {{ item.title }}
    <br> size number: {{ item.size }}
    <br> size name: {{ sizeArray[item.size] }}
    <br> category: {{ item.category }}
    <br> description: {{ item.description }}
    <br> picturepaths: 
    <ul>
      <li *ngFor="let path of item.picturePath; let myIndex = index">
        {{ item.picturePath[myIndex] }}
      </li>
    </ul>
  </div>
  <div class="item-card">
    <div class="bookmark">Bookmark: t/f</div>
    <div class="user-picture">
      User Picture: {{ item.userPicturePath }}
      </div>
    <div class="item-info">
      <div class="title">title: {{ item.title }}</div>
      <div class="size">size: {{ item.size }}</div>
      <div class="description">description: {{ item.description }}</div>
      <div class="buttons">
          <button (click)="onPass()" class="pass-btn">&lt; Pass</button>
          <button (click)="onTrade()" class="trade-btn">Trade &gt;</button>
      </div>
    </div>
  </div>
  <button (click)="retrieveJSON()">retrieve JSON from backend</button>
</div>
