<div [ngClass]="setClasses()">
  <div class="card-body">
    <!-- <br> item id: {{ item.itemId }}
    <br> user id: {{ item.userId }}
    <br> user picture path: {{ item.userPicturePath }}
    <br> user verified: {{ item.verified }}
    <br> user rating: {{ item.rating }}
    <br> title: {{ item.title }}
    <br> size number: {{ item.size }}
    <br> size name: {{ sizeArray[item.size] }}
    <br> category: {{ item.category }}
    <br> description: {{ item.description }}
    <br> picturepaths: 
    <ul>
      <li *ngFor="let path of item.picturePath; let myIndex = index">
        {{ item.picturePath[myIndex] }}
      </li>
    </ul> -->
    <!-- Above is used for testing -->
    <!-- Below should be a carousel once prateek is done work on those -->
    <img src="item.picturePath[0]" alt="Could not get this item's image">
  </div>
  <div class="card-footer">
    <div class="user">
      <img class="user-image" src="{{ item.userPicturePath }}" alt="User image">
      <div class="user-name">{{ item.userName }}</div>
    </div>
    <div class="item-info">
      <div class="title">title: {{ item.title }}</div>
      <div class="size">size: {{ item.size }}</div>
      <div class="description">description: {{ item.description }}</div>
      <div class="buttons d-flex justify-content-around">
          <button (click)="onPass(item)" class="pass-btn btn btn-danger">&lt; Pass</button>
          <button (click)="onTrade(item)" class="trade-btn btn btn-success">Trade &gt;</button>
      </div>
    </div>
  </div>
  <button (click)="retrieveJSON()">retrieve JSON from backend</button>
  <button (click)="sendUserId()">Send user ID to backend</button>
</div>
