<div [ngClass]="setClasses()">
  <div class="item-image-container" [ngStyle]="{'background-image': tempItemImage}"></div>
  <div class="item-footer">
    <div class="user">
      <img class="user-image" [src]="tempUserImage" alt="User image">
    </div>
    <div class="item-info">
      <div class="title">{{ item.title }}</div>
      <div class="size">Size: {{ sizeArray[item.size] | uppercase }}</div>
      <div class="description">{{ item.description }} Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis vitae ipsam ab quidem, inventore vel esse culpa, ipsa quasi impedit expedita recusandae architecto eaque dolores temporibus consequatur voluptates quia minus.</div>
    </div>
    <div class="buttons">
        <button (click)="onPass(item)" class="btn-pass button">Pass</button>
        <button (click)="onTrade(item)" class="btn-trade button">Trade</button>
    </div>
  </div>
  <!-- <button (click)="retrieveJSON()">retrieve JSON from backend</button> -->
  <!-- <button (click)="sendUserId()">Send user ID to backend</button> -->
</div>
