<div>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1>OUR STORY</h1>
      <p id="storyText">“As a lover of fashion and wanting to change up my style I really wanted to find a way to accomplish this without having the negative consequences to both my bank account and the environment. This is why I really wanted to create an app that would allow me to connect with other fashion lovers to swap clothes, allowing me to update my closet without the negative financial or environmental impacts of fast fashion. ” Catreana Cunningham</p>
    </div>
  </div>
  <div id="teamHead">Meet the Team</div>
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="../../../assets/Images/aboutus/au_catreana.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Catreana Cunningham</h5>
        <p class="card-text">I'm a current BCIT student looking to venture into the world of computer science. After graduating in 2012 from SFU with a bachelor's degree in Cell Biology, I spent three and a half years working as a pharmacy assistant. Following a major cycling accident, I was forced to change careers paths away from working in health care. After working for a year and a half at a wearable fitness technology company I was drawn to software development. I began studying part time courses at BCIT and entered level two of the fall 2018 full time Computer Systems Technology program via direct entry.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../../assets/Images/aboutus/au_haejoon.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Haejoon Choi</h5>
        <p class="card-text">After finishing the mandatory military service, I studied Design for 3D Printing and Topology Optimization for my Masters. During my Masters, I had so much fun with programming and decided to steer career paths from Engineering towards Computer Science. I moved to Canada to pursue Software Development and I have been studying at BCIT since this January. </p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../../assets/Images/aboutus/au_zack.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Zachary Taylor</h5>
        <p class="card-text">I was working for a local software company and decided to expand my knowledge and obtain a CST diploma. I’m hoping to learn lots and to apply what I’ve learned to the workplace when I return. I enjoy learning new things and am always up for a new challenge.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../../assets/Images/aboutus/au_kate.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Kateryna Bozhenko</h5>
        <p class="card-text">After receiving an MA in Classical languages, I took a couple of online computer science courses out of sheer curiosity and found them extremely interesting. Therefore, I started a career of Software Tester with focus on web UI automation with Selenium, Java and Groovy. After moving to Canada, I’ve decided to catch up with more formal education in this field and pursue a career as a Software Developer. Currently I am a student in the Computer Systems Technology program in BCIT.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../../assets/Images/aboutus/au_prateek.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Prateek Girdhar</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
    </div>
  </div>
</div>
