<div>
  <!-- Div containing the page title -->
  <div class="pageTitle">
    <h5>Edit Profile</h5>
  </div>

    <div class="parentDiv">
      <form id="editProfileContainer" class="form" (submit)="onSubmit()">    
    
        <!-- Button to upload image (with label) -->
        <div id="imgreplace" class="card">
          <div id="profileImg">
            <img [src]="imgURL" height="80" width="80" *ngIf="imgURL">
          </div>
          <input name="photo" type="file" accept="image/*" id="filepick" (change)="onFileSelected($event)" 
          max-size=32154 style="display: none" #fileinput>
          <div id ="replaceButton" class="btn btn-outline-primary" (click)="fileinput.click()">Replace</div>
          
        </div>
    
        <!-- Form group for adding the title and description -->
        
        <div class="card">
          <div>
            <form class="contactInfo">

              <!-- Form for user name -->
              <div class="userCard">
                <mat-form-field class="formfield user">
                  <input 
                    matInput 
                    #username 
                    id="username" 
                    placeholder="User Name" 
                    value="" 
                    name="User Name" 
                    [(ngModel)]="usernameText" 
                    pattern="[A-Za-z0-9]{3,20}" 
                    required>
                  <mat-hint>{{username.value?.length || 0}}/10 (Max 10 Characters)</mat-hint>
                </mat-form-field>
                <!-- <div class="editButton"><button>Edit</button></div>
                <div class="saveButton"><button>Save</button></div> -->
              </div>
              
              <!-- Form for phone number -->
              <div class="phoneCard">
                <mat-form-field class="formfield phone">
                  <input matInput
                    id="phone" 
                    placeholder="Phone Number" 
                    value="" 
                    name="phone" 
                    [(ngModel)]="phone" 
                    pattern="[0-9]{10}" 
                    mask="(000) 000 - 0000" 
                    [showMaskTyped] = "false"
                  required>
                </mat-form-field>
                <!-- <div class="editButton"><button>Edit</button></div>
                <div class="saveButton"><button>Save</button></div> -->
              </div>

              <!-- Form for City -->
              <div class="cityCard">
                <mat-form-field class="">
                  <input matInput id="city" placeholder="City" value="" name="city" [(ngModel)]="city" pattern="[A-Za-z]{3,20}"
                  required>
                  <mat-hint>E.g., Vancouver</mat-hint>

                </mat-form-field>
                <!-- <div class="editButton"><button>Edit</button></div>
                <div class="saveButton"><button>Save</button></div>   -->
              </div>
              
              <!-- Form for Postal Code -->
              <div class="postalCodeCard">
                <mat-form-field class="">
                  <input 
                    matInput 
                    id="postalcode" 
                    placeholder="Postal Code" 
                    value="" 
                    name="postalcode" 
                    [(ngModel)]="postalcode" 
                    pattern="[A-Z0-9]{6}" 
                    mask="A 0 A  0 A 0" 
                    [showMaskTyped] = "false"
                  required>
                  <mat-hint>Format: A1A 1A1</mat-hint>
                </mat-form-field>
                <!-- <div class="editButton"><button>Edit</button></div>
                <div class="saveButton"><button>Save</button></div>   -->
              </div>

              
              <!-- Button group for selecting user's gender -->
              <div class="card">
                <mat-button-toggle-group [(ngModel)]="gender" id="genderSelect" name="genderSelect">
                  <mat-button-toggle value="Male">Male</mat-button-toggle>
                  <mat-button-toggle value="Female">Female</mat-button-toggle>
                  <mat-button-toggle value="Unisex">Other</mat-button-toggle>
                </mat-button-toggle-group>
              </div> 
            </form>
          </div>
        </div>    
      </form>

    <div class="card buttonPair">
      <div class="buttonContainer cancelContainer">
        <div class="btn-danger editCancel">Cancel</div>
      </div>
      <div class="buttonContainer">
        <div type="submit" form="editProfileContainer" value="Submit" class="btn-success editSave">Submit</div>
      </div>
    </div>
    
  </div>
</div>
