<div>
  <div class="pageTitle">
      <h5>Privacy Policy</h5>
    </div>
  <div class="parentDiv">
    ReStyle is a web/mobile application used to assist users in finding clothing items they want to trade with other users. 
    <br><br>
    We collect information you provide us directly:
    <ul>
      <li>Your username, password and email address when you create an account following login</li>
      <li>Any additional information you provide when you edit your profile such as city, postal code, phone number</li>
      <li>Your profile and item images you provide, such as the photos that are added for items for trading and the profile picture you upload when you edit your profile</li>
      <li>User content such as the users involved in trading</li>
    </ul>  
  </div>  
</div>
