@import '../../../styles.sass'
.footer
    background-color: $header-footer-color
    height: $header-footer-height
    border-top: 0.5px solid grey


.easter-egg
    background-color: $easter-egg-color

.footer-icons
    width: $header-footer-height * 0.5

.user-image
    width: $header-footer-height * 0.7
    height: $header-footer-height * 0.7
    object-fit: cover
    border-radius: 50%
    
a
    font-size: 1.6em

button
    background: none
    border: none

mat-icon
    margin-top: 10px
    transform: scale(1.2)
    opacity: 0.5

\:disabled
    opacity: 0.5

