.pageTitle
  margin: 50px 0
  width: 100%

.parentDiv
  margin: 110px 0
  height: 70vh
  overflow: auto

#uploadButton
  width: 100%

h5
  text-align: center
  margin: 10px 0

#imgupload, mat-form-field
  display: flex
  margin: 0 auto
  width: 80%

.mat-form-field
  width: 80%

.mat-form-field-wrapper
  position: relative
  display: flex
  margin: 0 auto

.mat-radio-group
  width: 80%


#sizeSlider
  margin: 0 auto
  width: 80%

#sliderSpan
  margin: 0 auto
  width: 80%

mat-slider
  margin: 0 auto
  width: 80%

#genderToggles
  display: flex
  justify-content: space-evenly
  margin: 0 auto
  width: 80%

.btn-block
  width: 80%

.card
  width: 80%
  max-width: 400px
  margin: 10px auto
  padding: 10px


.required input:after
  content: "*"

::ng-deep
  .mat-slider-thumb-label
    transform: rotate(45deg) !important
    border-radius: 50% 50% 0 !important

  .mat-slider-thumb
    transform: scale(0) !important

  .mat-slider-thumb-label-text
    opacity: 1 !important