@import url('https://fonts.googleapis.com/css?family=Nunito')
@import '../../../styles.sass'

.header
  font-family: 'Nunito', sans-serif
  font-size: 1.5rem
  letter-spacing: 0.1rem
  font-style: italic
  font-weight: 800
  justify-content: center
  background-color: $header-footer-color
  height: $header-footer-height

  #header-title
    user-select: none

.easter-egg
  background-color: $easter-egg-color
