@import '../../../styles.sass'

.header
  font-family: 'Futura'
  font-size: 2rem
  letter-spacing: 0.5rem
  font-style: italic
  font-weight: bolder
  justify-content: center
  border-bottom: 0.5px solid grey
  background-color: $header-footer-color
  height: $header-footer-height

  #header-title
    line-height: 100%
    user-select: none

.easter-egg
  background-color: $easter-egg-color
