<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <img [src]="images[0]" id="first-image" alt="Random first slide">
    <div class="carousel-caption">
      <div class="welcome-text-background">
        <div class="welcome-text">
          <h3>WELCOME TO RESTYLE</h3>
          <p>ReStyle helps you to swap clothes easily.</p>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[1]" id="second-image" alt="Random second slide">
    <div class="carousel-caption second-image">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[2]" id="third-image" alt="Random third slide">
    <div class="carousel-caption third-image">
    </div>
  </ng-template>
</ngb-carousel>
