<div class="request">
  <div class="user-image-container">
    <img class="user-image" [src]="'/images/' + request.requesterUserPicturePath" alt="">
  </div>
  <div class="swapImg">
    <div class="itemStack">
      <app-trade-request-thumbnail 
      *ngFor="let picture of request.notifiedItemsPicturePath" [picture]="picture">
      </app-trade-request-thumbnail>
    </div>
    <mat-icon>swap_horiz</mat-icon>
    <div class="itemStack">
      <app-trade-request-thumbnail 
      *ngFor="let picture of request.requesterItemsPicturePath" [picture]="picture">
      </app-trade-request-thumbnail>
    </div>
  </div>
  <button><mat-icon>check_circle_outline</mat-icon></button>
  <button><mat-icon>delete</mat-icon></button>
</div>

