@import '../../../styles.sass'

.request
  display: grid
  grid-template-areas: "user-image swap buttons"
  grid-template-columns: 2fr 6fr 1fr
  width: 100%
  padding: 10px
  padding-right: 0
  border-bottom: 1px solid lighten($card-background-color, 50%)
  align-content: space-around

.user-image-container
  justify-items: center
  height: 100%
  width: 100%

.user-image
  border-radius: 50%

.user-name
  text-align: center
  margin: 0

.swap
  display: grid
  grid-template-areas: "l1 mat l2" "thumbnails1 mat thumbnails2"
  grid-template-columns: 2fr 1fr 2fr
  grid-template-rows: 24pt 1fr

.swap-icon
  grid-area: mat
  align-self: center
  justify-self: center

.thumbnails
  display: flex
  flex-direction: row
  flex-wrap: wrap
  align-items: center

.thumbnail
  // display: none
  width: 20%
  margin-left: 5%

.thumbnails1
  grid-area: thumbnails1

.thumbnails2
  grid-area: thumbnails2

.buttons
  display: grid
  grid-template-rows: auto auto
  button
    margin: 0
    padding: 0
